@import "tailwindcss";

@theme {
  --font-display: "ZT Bros Oskon 90s Expanded", system-ui, sans-serif;
  --font-body: "ZT Bros Oskon 90s ExtraExpanded", system-ui, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}
